* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.nav-link {
    color: #1F7C99;
}

.nav-link.active {
    color: #7F7CAF !important; 
}

.nav-link:hover {
    color: #7F7CAF !important; 
}
.nav {
    color: #1F7C99;
}

canvas {
    transition: height 40ms;
}

.canvas-container {
    position: relative;
}

.canvas-side-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18%;
    
}
.canvas-side-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 18%;
    
}

.blue {
    color:#1F7C99;
}

.grey {
    color: #9FB4C7
}

.light {
    color: #EEEEFF
}

.green {
    color: #9FB798
}

.purple {
    color: #7F7CAF
}

footer {
    border-top: 1px solid  #7F7CAF;
    padding: 15px;
}

footer img {
    margin: 15px
}

.card-deck .card img, .card-deck .card video {
    height: 400px;
    object-fit: cover;
}

.card-deck {
    margin-bottom: 30px;
}

.card a {
    color: #1F7C99;
}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 4.5em;
}
.btn:hover {
    background-color: #1F7C99;
    color: #EEEEFF;
}

.btn-outline-primary:hover {
    color: #EEEEFF;
    border-color: #1F7C99;
    background-color: #1F7C99;
}
.btn-outline-primary a {
    color: #1F7C99;
    border-color: #1F7C99;
}
.btn-outline-primary:hover a {
    color: #EEEEFF;
    border-color: #1F7C99;
    text-decoration: none;
}
.btn-outline-primary {
    color: #1F7C99;
    border-color: #1F7C99;
}

.resume-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.resume-button:hover {
    background-color: #1F7C99;
    color: #EEEEFF;
}

 h3 {
    font-size: 1.25rem;
    color: #1F7C99;
}

h2 {
    font-size: 1.75rem;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 12pt;
    }

    h1 {
        font-size: 2.5em;
    }
}


@media (min-width: 576px) {
    .card-deck .card {
        flex: initial;
        margin-right: initial;
        margin-bottom: 15px;
        margin-left: initial;
    }
}

@media (min-width: 900px) {
    .resume-img {
    max-width: 900px;
}

    .canvas-side-right {
    width: 25%;
    
}

    .canvas-side-left {
    width: 25%;
    
}

}

@media (min-width: 991px) {
    .card-deck .card {
        flex: 1 0;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }

    .card-deck .card img, .card-deck .card video {
        height: 200px;
        object-fit: cover;
    }
}

@media (max-width: 450px) {
    .card-deck .card img, .card-deck .card video {
        object-fit: contain;
    }
}